nav{
    background-color: #343498;
       
    
}
#body{
    margin: 10px;
}
h1{
    margin-left: 10px;
}
footer{
    background-color: #343498;
    min-height: 200px;
    
}
#icono {
    width: 20px;
    height: 20px;
    color: white;
    margin-right: 5px;
}
#logoAP {
    height: 50px;
    
}
 #mediaIcons{
    margin-top: 5px;
    padding-top: 5px;
    float: right;
} 
.card-img-top{
    height: 350px;
    width: 100%;
}
#logos{
    width: 200px;
    height: 200px;
    

}
#botonDelete{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    
}
#botonesEdit{
    position: relative; 
    left: 95%;
    cursor: pointer;
    
}
#fotoPerfil{
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    left: 2%;
    top: 25%;
    border: solid 5px;
    border-color: white;
}

#login{
    float: right;
    
}



