nav{
    background-color: #343498;
       
    
}
footer{
    background-color: #343498;
}
#icono {
    width: 20px;
    height: 20px;
    color: white;
    margin-right: 5px;
}
#logoAP {
    height: 50px;
    
}
 #mediaIcons{
    margin-top: 5px;
    padding-top: 5px;
    float: right;
} 
.card-img-top{
    height: 350px;
    width: 100%;
}
#logos{
    max-width: 80px;
}
